@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-main{
  background-color: #17181B ;
}
.bg-hover{
  background-color: #202124;
}
.text-color{
  color: #637381;
}

/* ======Media Query======= */
@media(max-width:767px){
  .sm-none{
    display: none;
  }
}